apiVersion: v1
items:
  - apiVersion: apps/v1
    kind: Deployment
    metadata:
      annotations:
        deployment.kubernetes.io/revision: "2"
      labels:
        app: metallb
        component: controller
      name: controller
      namespace: metallb-system
    spec:
      progressDeadlineSeconds: 600
      replicas: 1
      revisionHistoryLimit: 3
      selector:
        matchLabels:
          app: metallb
          component: controller
      strategy:
        rollingUpdate:
          maxSurge: 25%
          maxUnavailable: 25%
        type: RollingUpdate
      template:
        metadata:
          annotations:
            prometheus.io/port: "7472"
            prometheus.io/scrape: "true"
          creationTimestamp: null
          labels:
            app: metallb
            component: controller
        spec:
          containers:
            - args:
                - --port=7472
                - --log-level=info
                - --tls-min-version=VersionTLS12
              env:
                - name: METALLB_ML_SECRET_NAME
                  value: memberlist
                - name: METALLB_DEPLOYMENT
                  value: controller
              image: quay.io/metallb/controller:v0.15.2
              imagePullPolicy: IfNotPresent
              livenessProbe:
                failureThreshold: 3
                httpGet:
                  path: /metrics
                  port: monitoring
                  scheme: HTTP
                initialDelaySeconds: 10
                periodSeconds: 10
                successThreshold: 1
                timeoutSeconds: 1
              name: controller
              ports:
                - containerPort: 7472
                  name: monitoring
                  protocol: TCP
                - containerPort: 9443
                  name: webhook-server
                  protocol: TCP
              readinessProbe:
                failureThreshold: 3
                httpGet:
                  path: /metrics
                  port: monitoring
                  scheme: HTTP
                initialDelaySeconds: 10
                periodSeconds: 10
                successThreshold: 1
                timeoutSeconds: 1
              resources: {}
              securityContext:
                allowPrivilegeEscalation: false
                capabilities:
                  drop:
                    - all
                readOnlyRootFilesystem: true
              terminationMessagePath: /dev/termination-log
              terminationMessagePolicy: File
              volumeMounts:
                - mountPath: /tmp/k8s-webhook-server/serving-certs
                  name: cert
                  readOnly: true
          dnsPolicy: ClusterFirst
          nodeSelector:
            kubernetes.io/hostname: s231226.wholesaleinternet.net
            kubernetes.io/os: linux
          restartPolicy: Always
          schedulerName: default-scheduler
          securityContext:
            fsGroup: 65534
            runAsNonRoot: true
            runAsUser: 65534
          serviceAccount: controller
          serviceAccountName: controller
          terminationGracePeriodSeconds: 0
          volumes:
            - name: cert
              secret:
                defaultMode: 420
                secretName: metallb-webhook-cert
kind: List
metadata: {}
