apiVersion: v1
items:
  - apiVersion: v1
    kind: Service
    metadata:
      annotations: {}
      name: metallb-webhook-service
      namespace: metallb-system
    spec:
      clusterIP: 10.97.89.60
      clusterIPs:
        - 10.97.89.60
      internalTrafficPolicy: Cluster
      ipFamilies:
        - IPv4
      ipFamilyPolicy: SingleStack
      ports:
        - port: 443
          protocol: TCP
          targetPort: 9443
      selector:
        component: controller
      sessionAffinity: None
      type: ClusterIP
kind: List
metadata: {}
