apiVersion: v1
items:
  - apiVersion: apps/v1
    kind: Deployment
    metadata:
      annotations:
        deployment.kubernetes.io/revision: "2"
      labels:
        app: drone-server
      name: drone-server
      namespace: drone
    spec:
      progressDeadlineSeconds: 600
      replicas: 1
      revisionHistoryLimit: 10
      selector:
        matchLabels:
          app: drone-server
      strategy:
        rollingUpdate:
          maxSurge: 25%
          maxUnavailable: 25%
        type: RollingUpdate
      template:
        metadata:
          annotations:
            kubectl.kubernetes.io/restartedAt: "2025-10-24T15:49:20Z"
          creationTimestamp: null
          labels:
            app: drone-server
        spec:
          containers:
            - env:
                - name: DRONE_SERVER_HOST
                  valueFrom:
                    secretKeyRef:
                      key: DRONE_SERVER_HOST
                      name: drone-server-secret
                - name: DRONE_SERVER_PROTO
                  value: https
                - name: DRONE_RPC_SECRET
                  valueFrom:
                    secretKeyRef:
                      key: DRONE_RPC_SECRET
                      name: drone-server-secret
                - name: DRONE_DATABASE_DRIVER
                  value: postgres
                - name: DRONE_DATABASE_DATASOURCE
                  valueFrom:
                    secretKeyRef:
                      key: DRONE_DATABASE_DATASOURCE
                      name: drone-server-secret
                - name: DRONE_USER_CREATE
                  valueFrom:
                    secretKeyRef:
                      key: DRONE_USER_CREATE
                      name: drone-server-secret
                - name: DRONE_GITHUB_CLIENT_ID
                  valueFrom:
                    secretKeyRef:
                      key: DRONE_GITHUB_CLIENT_ID
                      name: drone-server-secret
                - name: DRONE_GITHUB_CLIENT_SECRET
                  valueFrom:
                    secretKeyRef:
                      key: DRONE_GITHUB_CLIENT_SECRET
                      name: drone-server-secret
              image: drone/drone:2
              imagePullPolicy: IfNotPresent
              livenessProbe:
                failureThreshold: 3
                httpGet:
                  path: /
                  port: http
                  scheme: HTTP
                initialDelaySeconds: 20
                periodSeconds: 20
                successThreshold: 1
                timeoutSeconds: 1
              name: drone-server
              ports:
                - containerPort: 80
                  name: http
                  protocol: TCP
              readinessProbe:
                failureThreshold: 3
                httpGet:
                  path: /
                  port: http
                  scheme: HTTP
                initialDelaySeconds: 5
                periodSeconds: 10
                successThreshold: 1
                timeoutSeconds: 1
              resources: {}
              terminationMessagePath: /dev/termination-log
              terminationMessagePolicy: File
          dnsPolicy: ClusterFirst
          nodeSelector:
            kubernetes.io/hostname: s231226.wholesaleinternet.net
          restartPolicy: Always
          schedulerName: default-scheduler
          securityContext: {}
          terminationGracePeriodSeconds: 30
kind: List
metadata: {}
