apiVersion: v1
items:
  - apiVersion: apps/v1
    kind: Deployment
    metadata:
      annotations:
        deployment.kubernetes.io/revision: "2"
        meta.helm.sh/release-name: traefik
        meta.helm.sh/release-namespace: traefik
      labels:
        app.kubernetes.io/instance: traefik-traefik
        app.kubernetes.io/managed-by: Helm
        app.kubernetes.io/name: traefik
        helm.sh/chart: traefik-37.2.0
      name: traefik
      namespace: traefik
    spec:
      progressDeadlineSeconds: 600
      replicas: 1
      revisionHistoryLimit: 10
      selector:
        matchLabels:
          app.kubernetes.io/instance: traefik-traefik
          app.kubernetes.io/name: traefik
      strategy:
        rollingUpdate:
          maxSurge: 1
          maxUnavailable: 0
        type: RollingUpdate
      template:
        metadata:
          annotations:
            prometheus.io/path: /metrics
            prometheus.io/port: "9100"
            prometheus.io/scrape: "true"
          creationTimestamp: null
          labels:
            app.kubernetes.io/instance: traefik-traefik
            app.kubernetes.io/managed-by: Helm
            app.kubernetes.io/name: traefik
            helm.sh/chart: traefik-37.2.0
        spec:
          automountServiceAccountToken: true
          containers:
            - args:
                - --entryPoints.metrics.address=:9100/tcp
                - --entryPoints.traefik.address=:8080/tcp
                - --entryPoints.web.address=:8000/tcp
                - --entryPoints.websecure.address=:8443/tcp
                - --api.dashboard=true
                - --ping=true
                - --metrics.prometheus=true
                - --metrics.prometheus.entrypoint=metrics
                - --providers.kubernetescrd
                - --providers.kubernetescrd.allowEmptyServices=true
                - --providers.kubernetesingress
                - --providers.kubernetesingress.allowEmptyServices=true
                - --providers.kubernetesingress.ingressendpoint.publishedservice=traefik/traefik
                - --entryPoints.websecure.http.tls=true
                - --log.level=INFO
                - --providers.kubernetescrd
                - --providers.kubernetesingress
                - --api.dashboard=true
                - --entrypoints.web.address=:8000
                - --entrypoints.websecure.address=:8443
                - --entrypoints.web.http.redirections.entrypoint.to=websecure
                - --entrypoints.web.http.redirections.entrypoint.scheme=https
                - --certificatesresolvers.le.acme.email=mr.daliborf@gmail.com
                - --certificatesresolvers.le.acme.httpchallenge.entrypoint=web
                - --certificatesresolvers.le.acme.storage=/data/acme.json
                - --providers.kubernetescrd.allowcrossnamespace=true
                - --providers.kubernetesingress.ingressclass=traefik
                - --log.level=INFO
              env:
                - name: POD_NAME
                  valueFrom:
                    fieldRef:
                      apiVersion: v1
                      fieldPath: metadata.name
                - name: POD_NAMESPACE
                  valueFrom:
                    fieldRef:
                      apiVersion: v1
                      fieldPath: metadata.namespace
                - name: USER
                  value: traefik
              image: docker.io/traefik:v3.5.3
              imagePullPolicy: IfNotPresent
              livenessProbe:
                failureThreshold: 3
                httpGet:
                  path: /ping
                  port: 8080
                  scheme: HTTP
                initialDelaySeconds: 2
                periodSeconds: 10
                successThreshold: 1
                timeoutSeconds: 2
              name: traefik
              ports:
                - containerPort: 9100
                  name: metrics
                  protocol: TCP
                - containerPort: 8080
                  name: traefik
                  protocol: TCP
                - containerPort: 8000
                  name: web
                  protocol: TCP
                - containerPort: 8443
                  name: websecure
                  protocol: TCP
              readinessProbe:
                failureThreshold: 1
                httpGet:
                  path: /ping
                  port: 8080
                  scheme: HTTP
                initialDelaySeconds: 2
                periodSeconds: 10
                successThreshold: 1
                timeoutSeconds: 2
              resources: {}
              securityContext:
                allowPrivilegeEscalation: false
                capabilities:
                  drop:
                    - ALL
                readOnlyRootFilesystem: true
              terminationMessagePath: /dev/termination-log
              terminationMessagePolicy: File
              volumeMounts:
                - mountPath: /data
                  name: data
                - mountPath: /tmp
                  name: tmp
          dnsPolicy: ClusterFirst
          nodeSelector:
            kubernetes.io/hostname: s231226.wholesaleinternet.net
          restartPolicy: Always
          schedulerName: default-scheduler
          securityContext:
            runAsGroup: 65532
            runAsNonRoot: true
            runAsUser: 65532
          serviceAccount: traefik
          serviceAccountName: traefik
          terminationGracePeriodSeconds: 60
          volumes:
            - name: data
              persistentVolumeClaim:
                claimName: acme-pvc
            - emptyDir: {}
              name: tmp
kind: List
metadata: {}
