apiVersion: v1
items:
  - apiVersion: traefik.io/v1alpha1
    kind: IngressRoute
    metadata:
      annotations: {}
      name: hello-node-http
      namespace: default
    spec:
      entryPoints:
        - web
      routes:
        - kind: Rule
          match: Host(`hello.kwiki.it.com`)
          middlewares:
            - name: redirect-to-https
          services:
            - name: hello-node
              port: 8080
  - apiVersion: traefik.io/v1alpha1
    kind: IngressRoute
    metadata:
      annotations: {}
      name: hello-node-https
      namespace: default
    spec:
      entryPoints:
        - websecure
      routes:
        - kind: Rule
          match: Host(`hello.kwiki.it.com`)
          services:
            - name: hello-node
              port: 8080
      tls:
        certResolver: le
  - apiVersion: traefik.io/v1alpha1
    kind: IngressRoute
    metadata:
      annotations: {}
      name: whoami-http
      namespace: default
    spec:
      entryPoints:
        - web
      routes:
        - kind: Rule
          match: Host(`whoami.xn--cyberlnx-ykb.com`)
          middlewares:
            - name: redirect-to-https
          services:
            - name: whoami-service
              port: 80
  - apiVersion: traefik.io/v1alpha1
    kind: IngressRoute
    metadata:
      annotations: {}
      name: whoami-https
      namespace: default
    spec:
      entryPoints:
        - websecure
      routes:
        - kind: Rule
          match: Host(`whoami.xn--cyberlnx-ykb.com`)
          services:
            - name: whoami-service
              port: 80
      tls:
        certResolver: le
kind: List
metadata: {}
