# Example Maldet config fragment. Validate with the target Maldet version.
email_alert="0"
scan_clamscan="1"
quarantine_hits="1"
quarantine_clean="0"
quarantine_suspend_user="0"
inotify_cpulimit="20"
inotify_ionice="6"
inotify_cpunice="18"

