[defaults]
inventory = ../inventory/production.ini.example
roles_path = roles
stdout_callback = yaml
bin_ansible_callbacks = True
retry_files_enabled = False
host_key_checking = True
interpreter_python = auto_silent

[privilege_escalation]
become = True
become_method = sudo

